(
    version: "1",
    name: "gentoo",
    label: "Gentoo Linux Wiki",
    author: "pknessness",
    description: Some("Gentoo Documentation"),
    categories: ["Operating Systems"],
    domains: [],
    urls: ["https://wiki.gentoo.org/wiki/"],
)