(
    version: "1",
    name: "wow",
    label: "World of Warcraft (WoW) Guides & General Info",
    author: "Chicken",
    description: Some("Search through achievements, classes, and more! This includes everything but items, NPCs, and quests."),
    is_enabled: true,
    domains: [],
    urls: [
        "https://www.wowhead.com/achievements",
        "https://www.wowhead.com/affixes",
        "https://www.wowhead.com/azerite-essence-powers",
        "https://www.wowhead.com/azerite-essences",
        "https://www.wowhead.com/battle-pets",
        "https://www.wowhead.com/classes",
        "https://www.wowhead.com/currencies",
        "https://www.wowhead.com/events",
        "https://www.wowhead.com/factions",
        "https://www.wowhead.com/garrisons",
        "https://www.wowhead.com/hunter-pets",
        "https://www.wowhead.com/icons",
        "https://www.wowhead.com/maps",
        "https://www.wowhead.com/objects",
        "https://www.wowhead.com/outfits",
        "https://www.wowhead.com/races",
        "https://www.wowhead.com/resources",
        "https://www.wowhead.com/sounds",
        "https://www.wowhead.com/storylines",
        "https://www.wowhead.com/titles",
        "https://www.wowhead.com/zones",
        // Individual references
        "https://www.wowhead.com/achievement=",
        "https://www.wowhead.com/affix=",
        // Individual classes
        "https://www.wowhead.com/class=",
        // Individual currencies
        "https://www.wowhead.com/currency=",
        // Individual factions
        "https://www.wowhead.com/faction=",
        "https://www.wowhead.com/pet=",
        // WoW guides
        "https://www.icy-veins.com/wow/",
    ],
    rules: []
)

