[
    (
        author: "a5huynh",
        description: "Old School Runescape wiki and useful reference guides, utilities, and more.",
        name: "2007scape",
        sha: "e1e3f01c84e6b2252f56c243b06e1f6e0c08da4cfd2489c70b642a6c6e926dac",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/2007scape.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/2007scape.ron",
    ),
    (
        author: "popcar2",
        description: "Arch User Repository, so you can find packages quickly.",
        name: "AUR",
        sha: "df2e6568fd491d6638fd72053647524c3eac4b402831cefe7fe17504d02298a9",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/Arch_User_Repository.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/Arch_User_Repository.ron",
    ),
    (
        author: "popcar2",
        description: "Comic Book Roundup, a review aggregator for comic books & graphic novels.",
        name: "CBR",
        sha: "a8b23451cafe30848b0c73d82c9ef7e9e734646117685cc562f9aaf3c67f3a43",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/ComicBookRoundup.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/ComicBookRoundup.ron",
    ),
    (
        author: "popcar2",
        description: "Elden Ring Fextralife Wiki",
        name: "EldenRing",
        sha: "ec3f3a6334d73226d00ce83f4c803796966a8a4584be30da6e5808fc53a2c704",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/Elden_Ring.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/Elden_Ring.ron",
    ),
    (
        author: "popcar2",
        description: "Opencritic: A review aggregation website for video games!",
        name: "OpenCritic",
        sha: "38fe946ab6728b3c00f96a218f23b373ced882a679f761fb3765b6479963e079",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/OpenCritic.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/OpenCritic.ron",
    ),
    (
        author: "popcar2",
        description: "Rogue Legacy 2 wiki",
        name: "RogueLegacy2",
        sha: "66ae639b42219d8264b347a4454204b1f3a07afcd9b8ed0f21df8749272e426f",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/Rogue_Legacy_2.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/Rogue_Legacy_2.ron",
    ),
    (
        author: "popcar2",
        description: "Find games quickly on Steam, the popular PC video game store!",
        name: "Steam",
        sha: "d470d52774fe3b7465f49423299e6bd5a40caafbfeb03cacb1ea267f7012e9b4",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/Steam.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/Steam.ron",
    ),
    (
        author: "popcar2",
        description: "Terraria wiki.gg for all your adventuring needs!",
        name: "Terraria",
        sha: "480af02c4c8c07260f6a7bc82927409b4bb4c9b6c1b7d65ce4eac7ef5a0daf43",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/Terraria.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/Terraria.ron",
    ),
    (
        author: "popcar2",
        description: "Vintage Story wiki",
        name: "Vintage Story",
        sha: "387e889e1819c2ee76e238c41c754043025178eeda9dc8ecb3a1693c3b3d610f",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/Vintage_Story.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/Vintage_Story.ron",
    ),
    (
        author: "lagoja",
        description: "D&D 5E reference guide for classes, equipment, feats, magic items, monsters, spells, etc.",
        name: "dnd",
        sha: "a55d7f40d0fba41576ebcccf7d09a6a6fa8621b05cb334ab2283381241416315",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/dnd_5e.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/dnd_5e.ron",
    ),
    (
        author: "a5huynh",
        description: "Factorio wiki & subreddit. Factorio is a game in which you build and maintain factories.",
        name: "factorio",
        sha: "da9331258b31d8f2f29da261359a9d7db7382573eb3539e4c16ecb6fa8870170",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/factorio.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/factorio.ron",
    ),
    (
        author: "pknessness",
        description: "Gentoo Documentation",
        name: "gentoo",
        sha: "62c201a0553700830b5f84aff18d377fc0470c62c81dc922ef813ac6fe67c903",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/gentoo.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/gentoo.ron",
    ),
    (
        author: "oparaskos",
        description: "Java reference material.",
        name: "java",
        sha: "1af32b60bfc72bedf5add2bf7ab6cf10221537eee122b67f19367950655e03cb",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/java.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/java.ron",
    ),
    (
        author: "oparaskos",
        description: "Kotlin reference material.",
        name: "kotlin",
        sha: "c60ab3d991987e669b0138e228811b1815ae071fbeb9b6c22c74a7e81c699d85",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/kotlin.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/kotlin.ron",
    ),
    (
        author: "pknessness",
        description: "Luigi\'s Mansion Walkthrough",
        name: "luigis_mansion",
        sha: "58a5af3c39dfaff65a685040f962b554af3ffc2584cc51607b87f2945a255d1a",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/luigis_mansion.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/luigis_mansion.ron",
    ),
    (
        author: "pknessness",
        description: "MBED 6.8 Documentation",
        name: "mbed68",
        sha: "2d963b4cfd46aca65b086a480cf9f190e9ec04cde5f9a06ce048871cc7f087cc",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/mbed6-8.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/mbed6-8.ron",
    ),
    (
        author: "pknessness",
        description: "Pygame Documentation",
        name: "pygame",
        sha: "009b4b83f772408ba95aa8432fb87d6e29eaa2b99efeab3d698f5eabd9d512cf",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/pygame.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/pygame.ron",
    ),
    (
        author: "Haz0ret",
        description: "Searches through Scryfall and Gatherer to locate magic: the gathering sources",
        name: "scryfall",
        sha: "86acc4917ca7709527b9d8e70969278e55e93b372c8a567311ddfce9c1c64864",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/scryfall.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/scryfall.ron",
    ),
    (
        author: "pknessness",
        description: "Super Mario Galaxy 1 and 2 Wiki",
        name: "smg",
        sha: "ef9728ac5c820b4ecf1bb58501c8648f247a749a19b96e5b0f200499de657a5b",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/super_mario_galaxy.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/super_mario_galaxy.ron",
    ),
    (
        author: "pknessness",
        description: "Indexes snapcraft, the app store for linux.",
        name: "snap",
        sha: "2e8e83988c6971fee991f2a1be79ffb5bc5807311e4eaddfcb32b238a1a595e3",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/snap.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/snap.ron",
    ),
    (
        author: "a5huynh",
        description: "Stardew Valley wiki",
        name: "stardew",
        sha: "0c475427387384dd105fd37f630c2a2a0691966add35b95a02833a63e69e84af",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/stardew_valley.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/stardew_valley.ron",
    ),
    (
        author: "jwl",
        description: "An index of Tim Ferriss\' blog + podcasts",
        name: "tim-ferriss",
        sha: "47774453a6401a130b401afe32ea151ab8f1993a4c2eb00a2a20d119c760ffa5",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/tim_ferriss.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/tim_ferriss.ron",
    ),
    (
        author: "a5huynh",
        description: "The Walking Dead (/twd) lens includes all information\n    about the comic series, novels, video games, and television shows, including\n    character statuses and current storyline plot-points.",
        name: "twd",
        sha: "8f679d0f54ee2489b6fa47798d77cd9ed2642c7e152eccab92aee488d73a6ec6",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/the_walking_dead.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/the_walking_dead.ron",
    ),
    (
        author: "pknessness",
        description: "Legend of Zelda Twilight Princess Walkthrough",
        name: "twilight",
        sha: "88829576d33ea34f4669bbf4885e153ffa69f8f7e3b08846623ac25ce4024a88",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/zelda_twilight_princess.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/zelda_twilight_princess.ron",
    ),
    (
        author: "oparaskos",
        description: "Unity targeted websites",
        name: "unity",
        sha: "6b60d8ced8bac8568495561ec904514ee01b7a2ab58c82334a05123a185f6af3",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/unity.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/unity.ron",
    ),
    (
        author: "oparaskos",
        description: "Unreal Engine targeted websites",
        name: "unreal",
        sha: "f5635f1616977c5afec69384bfbec237d737174dbe8fc01f6c523b3016ebf923",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/unreal_engine.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/unreal_engine.ron",
    ),
    (
        author: "Chicken",
        description: "Everything World of Warcraft (WoW) related. Search through achievements, classes, items, npcs, spells, and more!",
        name: "wow",
        sha: "b0b9af5df85f624427b70c24ddd4bb3c54e55d635e327ab73bcf6ad19ec605e5",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/wow.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/wow.ron",
    ),
    (
        author: "popcar2",
        description: "xkcd webcomics, now ready to pull out at a moment\'s notice!",
        name: "xkcd",
        sha: "2e01815ffe94d38cd15fb94b414c44614c5701a3cc9c2d8cc8b7517a7ab0593e",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/xkcd.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/xkcd.ron",
    ),
    (
        author: "a5huynh",
        description: "YC articles / blog posts for a handy quick reference to startup materials",
        name: "yc",
        sha: "8c453660637ca192aac0168f527bf8ed4d818b19cd92cc91a76971523c4806ee",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/ycombinator.ron",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/ycombinator.ron",
    ),
]