[
    (
        name: "2007scape",
        author: "a5huynh",
        description: "Old School Runescape wiki and useful reference guides, utilities, and more.",
        sha: "334e93a9b497baac99a5aac0eef0212922b21211",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/2007scape.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/2007scape.ron",
    ),
    (
        name: "dnd",
        author: "lagoja",
        description: "D&D 5E reference guide for classes, equipment, feats, magic items, monsters, spells, etc.",
        sha: "243a07befdfc982255821edb12489c38fa956893",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/dnd_5e.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/dnd_5e.ron",
    ),
    (
        name: "factorio",
        author: "a5huynh",
        description: "Factorio wiki & subreddit. Factorio is a game in which you build and maintain factories.",
        sha: "1ea882758caa187f3f0f39fc99f2e7a55b0b9603",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/factorio.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/factorio.ron",
    ),
    (
        name: "gentoo",
        author: "pknessness",
        description: "Gentoo Documentation",
        sha: "8fe66c4b9ff367bca7eee4eca2d83f9ccd66daa3",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/gentoo.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/gentoo.ron",
    ),
    (
        name: "java",
        author: "oparaskos",
        description: "Java reference material.",
        sha: "0a69dff7ee80e90ca75156c85463837fe969375b",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/java.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/java.ron",
    ),
    (
        name: "kotlin",
        author: "oparaskos",
        description: "Kotlin reference material.",
        sha: "26d171a204225828b1415d01100b546f67cc3bee",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/kotlin.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/kotlin.ron",
    ),
    (
        name: "luigis_mansion",
        author: "pknessness",
        description: "Luigi's Mansion Walkthrough.",
        sha: "3cdf4f902c085181f2466b03346c52f1f1fbf036",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/luigis_mansion.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/luigis_mansion.ron",
    ),
    (
        name: "mbed68",
        author: "pknessness",
        description: "MBED 6.8 Documentation",
        sha: "9295f65cd4c40a090d622518be4003808cb2c203",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/mbed6-8.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/mbed6-8.ron",
    ),
    (
        name: "pygame",
        author: "pknessness",
        description: "Pygame Documentation",
        sha: "d3a2a4516aefd4f0a331a4e036e28efcff95c4b3",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/pygame.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/pygame.ron",
    ),
    (
        name: "scryfall",
        author: "Haz0ret",
        description: "Searches through Scryfall and Gatherer to locate magic: the gathering sources",
        sha: "d909d5f27c675cae63df775a6873c1119121e57a",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/scryfall.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/scryfall.ron",
    ),
    (
        name: "snap",
        author: "pknessness",
        description: "Indexes snapcraft, the app store for linux.",
        sha: "854af249b7dcdc57bd8a9f0293f89d3472cf81d7",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/snap.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/snap.ron",
    ),
    (
        name: "smg",
        author: "pknessness",
        description: "Super Mario Galaxy 1 and 2 Wiki",
        sha: "fc4a27571edd54923974303a328647c335c452b0",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/super_mario_galaxy.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/super_mario_galaxy.ron",
    ),
    (
        name: "twd",
        author: "a5huynh",
        description: "The Walking Dead (/twd) lens includes all information about the comic series, novels, video games, and television shows, including character statuses and current storyline plot-points.",
        sha: "ceb1de2681d4730e0ac1375b257c78274c3a9c5a",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/the_walking_dead.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/the_walking_dead.ron",
    ),
    (
        name: "twilight",
        author: "pknessness",
        description: "Legend of Zelda Twilight Princess Walkthrough",
        sha: "47c8f123cdd27d3f5ef95a56faefe037c6d52c64",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/zelda_twilight_princess.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/zelda_twilight_princess.ron",
    ),
    (
        name: "unity",
        author: "oparaskos",
        description: "Unity targeted websites",
        sha: "dd7034106647757495b7dedcf74bc09494514cd4",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/unity.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/unity.ron",
    ),
    (
        name: "unreal",,
        author: "oparaskos",
        description: "Unreal Engine targeted websites",
        sha: "137b7fc9e2d2bc6e82108f1a147f9f756ab02ee7",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/unreal_engine.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/unreal_engine.ron",
    ),
    (
        name: "wow",
        author: "chicken",
        description: "Everything World of Warcraft (WoW) related. Search through achievements, classes, items, npcs, spells, and more!",
        sha: "4714aa7dbe47cb4d02dd66135f52c5699e2ce280",
        html_url: "https://github.com/spyglass-search/lens-box/blob/main/lenses/wow.ron",
        download_url: "https://raw.githubusercontent.com/spyglass-search/lens-box/main/lenses/wow.ron",
    )
]