[package]
name = "validator"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex-literal = "0.3.4"
ron = "0.7"
serde = { version = "1.0", features = ["derive"] }
sha1 = "0.10.1"
