(
    author: "spyglass-search",
    name: "Ansible",
    description: Some("Ansible API Documentation"),
    categories: ["Developer Tools"],
    domains: [],
    urls: [
        "https://docs.ansible.com/ansible/latest/",
    ],
    version: "1",
    rules: [],
)