(
    author: "spyglass-search",
    name: "Bootstrap_5.2",
    description: Some("Bootstrap 5.2 API Documentation"),
    domains: [],
    urls: [
        "https://getbootstrap.com/docs/5.2/"
    ],
    version: "1",
    rules: [],
)