(
    version: "1",
    name: "2007scape",
    label: "Old School RuneScape (OSRS) wiki",
    author: "a5huynh",
    description: Some("Old School Runescape wiki and useful reference guides, utilities, and more."),
    is_enabled: true,
    domains: [],
    urls: [
        "https://oldschool.runescape.wiki/w/"
    ],
    rules: [
        // Wiki related actions
        SkipURL("https://oldschool.runescape.wiki/w/*action=*"),
        SkipURL("https://oldschool.runescape.wiki/w/*curid=*"),
        SkipURL("https://oldschool.runescape.wiki/w/*diff=*"),
        SkipURL("https://oldschool.runescape.wiki/w/*oldid=*"),
        SkipURL("https://oldschool.runescape.wiki/w/*printable=*"),
        SkipURL("https://oldschool.runescape.wiki/w/*redirect=*"),
        SkipURL("https://oldschool.runescape.wiki/w/*veaction=*"),
        // Special pages
        SkipURL("https://oldschool.runescape.wiki/w/*_talk:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Category:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Concept:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Exchange:*"),
        SkipURL("https://oldschool.runescape.wiki/w/File:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Forum:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Help:*"),
        SkipURL("https://oldschool.runescape.wiki/w/MediaWiki:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Module:*"),
        SkipURL("https://oldschool.runescape.wiki/w/RuneScape:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Special:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Social_media:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Talk:*"),
        SkipURL("https://oldschool.runescape.wiki/w/Template:*"),
        SkipURL("https://oldschool.runescape.wiki/w/*/Template*"),
        SkipURL("https://oldschool.runescape.wiki/w/Transcript:*"),
        SkipURL("https://oldschool.runescape.wiki/w/User:*"),
        SkipURL("https://oldschool.runescape.wiki/w/smw/*"),
    ]
)
