(
    author: "spyglass-search",
    name: "Java_SE19",
    label: "Java SE19 Documentation",
    description: Some("Java SE19 API Documentation"),
    categories: ["Programming"],
    domains: [],
    urls: [
        "https://docs.oracle.com/en/java/javase/19/docs/api/",
    ],
    version: "1",
    rules: [],
)