(
    version: "1",
    author: "Mohd-PH",
    name: "laravel",
    label: "Laravel",
    description: Some("A lens for Laravel, a popular PHP framework"),
    categories: ["Programming", "Web Development", "PHP"],
    domains: [],
    urls: [
        "https://laravel.com/docs/master",
        "https://laravel.com/docs/master/artisan",
        "https://laravel.com/docs/master/authentication",
        "https://laravel.com/docs/master/authorization",
        "https://laravel.com/docs/master/billing",
        "https://laravel.com/docs/master/blade",
        "https://laravel.com/docs/master/broadcasting",
        "https://laravel.com/docs/master/cache",
        "https://laravel.com/docs/master/cashier-paddle",
        "https://laravel.com/docs/master/collections",
        "https://laravel.com/docs/master/configuration",
        "https://laravel.com/docs/master/console-tests",
        "https://laravel.com/docs/master/container/",
        "https://laravel.com/docs/master/contracts",
        "https://laravel.com/docs/master/contributions",
        "https://laravel.com/docs/master/controllers",
        "https://laravel.com/docs/master/csrf",
        "https://laravel.com/docs/master/database",
        "https://laravel.com/docs/master/database-testing",
        "https://laravel.com/docs/master/deployment",
        "https://laravel.com/docs/master/dusk",
        "https://laravel.com/docs/master/eloquent",
        "https://laravel.com/docs/master/eloquent-collections",
        "https://laravel.com/docs/master/eloquent-factories",
        "https://laravel.com/docs/master/eloquent-mutators",
        "https://laravel.com/docs/master/eloquent-relationships",
        "https://laravel.com/docs/master/eloquent-resources",
        "https://laravel.com/docs/master/eloquent-serialization",
        "https://laravel.com/docs/master/encryption",
        "https://laravel.com/docs/master/envoy/",
        "https://laravel.com/docs/master/errors",
        "https://laravel.com/docs/master/events",
        "https://laravel.com/docs/master/facades",
        "https://laravel.com/docs/master/filesystem",
        "https://laravel.com/docs/master/fortify",
        "https://laravel.com/docs/master/frontend",
        "https://laravel.com/docs/master/hashing",
        "https://laravel.com/docs/master/helpers",
        "https://laravel.com/docs/master/homestead",
        "https://laravel.com/docs/master/homestead?ref=hackernoon.com",
        "https://laravel.com/docs/master/horizon",
        "https://laravel.com/docs/master/http-client",
        "https://laravel.com/docs/master/http-tests",
        "https://laravel.com/docs/master/installation",
        "https://laravel.com/docs/master/lifecycle",
        "https://laravel.com/docs/master/localization",
        "https://laravel.com/docs/master/logging",
        "https://laravel.com/docs/master/mail",
        "https://laravel.com/docs/master/middleware",
        "https://laravel.com/docs/master/migrations",
        "https://laravel.com/docs/master/mix",
        "https://laravel.com/docs/master/mocking",
        "https://laravel.com/docs/master/notifications",
        "https://laravel.com/docs/master/octane",
        "https://laravel.com/docs/master/packages",
        "https://laravel.com/docs/master/pagination",
        "https://laravel.com/docs/master/passport",
        "https://laravel.com/docs/master/passport?ref=laravelmade.com",
        "https://laravel.com/docs/master/passwords",
        "https://laravel.com/docs/master/pint",
        "https://laravel.com/docs/master/providers",
        "https://laravel.com/docs/master/queries",
        "https://laravel.com/docs/master/queues",
        "https://laravel.com/docs/master/rate-limiting",
        "https://laravel.com/docs/master/redirects",
        "https://laravel.com/docs/master/redis",
        "https://laravel.com/docs/master/releases",
        "https://laravel.com/docs/master/releases?e",
        "https://laravel.com/docs/master/requests",
        "https://laravel.com/docs/master/responses",
        "https://laravel.com/docs/master/routing",
        "https://laravel.com/docs/master/sail",
        "https://laravel.com/docs/master/sanctum",
        "https://laravel.com/docs/master/scheduling",
        "https://laravel.com/docs/master/scheduling?ref=hackernoon.com",
        "https://laravel.com/docs/master/scout",
        "https://laravel.com/docs/master/seeding",
        "https://laravel.com/docs/master/session",
        "https://laravel.com/docs/master/socialite",
        "https://laravel.com/docs/master/starter-kits",
        "https://laravel.com/docs/master/structure",
        "https://laravel.com/docs/master/telescope",
        "https://laravel.com/docs/master/testing",
        "https://laravel.com/docs/master/upgrade",
        "https://laravel.com/docs/master/urls",
        "https://laravel.com/docs/master/valet",
        "https://laravel.com/docs/master/validation",
        "https://laravel.com/docs/master/verification",
        "https://laravel.com/docs/master/views",
        "https://laravel.com/docs/master/vite"
    ],
    rules: []
)