(
    author: "spyglass-search",
    name: "CSS",
    description: Some("CSS Documentation"),
    domains: [],
    urls: [
        "https://yari-demos.prod.mdn.mozit.cloud/zh-CN/docs/Web/CSS/",
        "https://developer.mozilla.org/",
        "https://github.com/mdn/learning-area/contributors/main/css/",  
        "https://interactive-examples.mdn.mozilla.net/pages/css/",
        "https://developer.mozilla.org/en-US/docs/MDN/Writing_guidelines/Writing_style_guide/Code_style_guide/CSS",
        "https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/HTML_and_CSS",
        "https://developer.mozilla.org/en-US/docs/Learn/Accessibility/CSS_and_JavaScript/Test_your_skills__CSS_and_JavaScript_accessibility",
        "https://developer.mozilla.org/en-US/docs/Learn/Accessibility/CSS_and_JavaScript",
        "https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics",
        "https://developer.mozilla.org/en-US/docs/Learn/CSS",
        "https://developer.mozilla.org/en-US/docs/Learn/CSS/",
        "https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context",
        "https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Challenge_solutions",
        "https://developer.mozilla.org/en-US/docs/Web/css-2",
        "https://developer.mozilla.org/en-US/docs/Web/CSS",
        "https://developer.mozilla.org/en-US/docs/Web/CSS/",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericArray",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkewX/CSSSkewX",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkewX/ax",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/cssText",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/item",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/parentRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/getPropertyPriority",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/setProperty",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/length",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/getPropertyCSSValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/msGetPropertyEnabled",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/getPropertyValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/msPutPropertyEnabled",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/removeProperty",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration/cssFloat",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSValueList",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathProduct/CSSMathProduct",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathProduct/values",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Typed_OM_API/Guide",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Painting_API",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnitValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMediaRule/media",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkewX",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSkeyframeRule-2",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathValue/operator",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnparsedValue/entries",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnparsedValue/keys",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnparsedValue/length",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnparsedValue/forEach",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnparsedValue/values",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnparsedValue/CSSUnparsedValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Counter_Styles",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPositionValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathSum",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSScale/z",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSScale/y",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSScale/x",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSScale/CSSScale",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkewY",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Determining_the_dimensions_of_elements",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Using_dynamic_styling_information",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/CSS_Declaration",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Managing_screen_orientation",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/CSS_Declaration_Block",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathMax",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRule/cssText",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRule/parentRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRule/type",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRule/parentStyleSheet",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTranslate/z",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTranslate/y",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTranslate/CSSTranslate",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTranslate/x",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNamespaceRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSImportRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPropertyRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMatrixComponent",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSFontFaceRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformComponent",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue/CSSTransformValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue/toMatrix",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue/entries",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue/keys",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue/length",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue/forEach",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue/values",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformValue/is2D",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPageRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleValue/parseAll",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleValue/parse",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSkeyframeRule/style",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSkeyframeRule/keyText",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPerspective/length",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPerspective/CSSPerspective",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Painting_API/Guide",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPerspective",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNamespaceRule/namespaceURI",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNamespaceRule/prefix",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue/getRGBColorValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue/getStringValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue/primitiveType",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue/getCounterValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue/setFloatValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue/getRectValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue/getFloatValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue/setStringValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSValueList/item",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSValueList/length",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathMin",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathInvert",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSGroupingRule/insertRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSGroupingRule/cssRules",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSGroupingRule/deleteRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSVariableReferenceValue/variable",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSVariableReferenceValue/fallback",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSVariableReferenceValue/CSSVariableReferenceValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSConditionRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericArray/length",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMatrixComponent/CSSMatrixComponent",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMatrixComponent/matrix",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSFontFaceRule/style",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPageRule/style",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPageRule/selectorText",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSValue/cssText",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSValue/cssValueType",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeyframesRule/findRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeyframesRule/appendRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeyframesRule/cssRules",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeyframesRule/deleteRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeyframesRule/name",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathProduct",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSImageValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathNegate/value",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathNegate/CSSMathNegate",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathSum/CSSMathSum",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathSum/values",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRuleList",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRotate/angle",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRotate/z",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRotate/y",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRotate/CSSRotate",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRotate/x",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkew/ay",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkew/ax",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkew/CSSSkew",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Typed_OM_API",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnparsedValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRotate",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTranslate",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSVariableReferenceValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnitValue/CSSUnitValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnitValue/value",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSUnitValue/unit",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathNegate",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSConditionRule/conditionText",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeyframesRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathMin/CSSMathMin",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathMin/values",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathMax/CSSMathMax",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathMax/values",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSupportsRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleRule/styleMap",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleRule/style",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleRule/selectorText",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSGroupingRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/max",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/mul",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/to",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/div",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/sub",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/type",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/add",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/min",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/parse",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/toSum",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSNumericValue/equals",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformComponent/toMatrix",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformComponent/toString",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSTransformComponent/is2D",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPropertyRule/name",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPropertyRule/syntax",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPropertyRule/initialvalue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPropertyRule/inherits",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/replace",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/removeRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/ownerRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/addRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/CSSStyleSheet",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/insertRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/cssRules",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/deleteRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/replaceSync",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/rules",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Properties_and_Values_API",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPositionValue/CSSPositionValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPositionValue/y",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPositionValue/x",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeyframeRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS/escape",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS/supports",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS/RegisterProperty",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS/paintWorklet",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS/registerProperty-2",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS/factory_functions",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMediaRule",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSScale",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSImportRule/stylesheet",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSImportRule/media",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSImportRule/href",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSPrimitiveValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathInvert/value",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSMathInvert/CSSMathInvert",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeywordValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSS_Properties_and_Values_API/guide",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/additiveSymbols",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/pad",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/negative",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/system",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/symbols",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/fallback",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/suffix",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/speakAs",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/name",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/range",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSCounterStyleRule/prefix",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRuleList/item",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSRuleList/length",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkewY/CSSSkewY",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkewY/ay",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeywordValue/value",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSKeywordValue/CSSKeywordValue",
        "https://developer.mozilla.org/en-US/docs/Web/API/CSSSkew",
        "https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/SVG_and_CSS",
        "https://developer.mozilla.org/en-US/docs/Glossary/Block/CSS",
        "https://developer.mozilla.org/en-US/docs/Glossary/CSS_Selector",
        "https://developer.mozilla.org/en-US/docs/Glossary/Descriptor_(CSS)",
        "https://developer.mozilla.org/en-US/docs/Glossary/Property/CSS",
        "https://developer.mozilla.org/en-US/docs/Glossary/CSS",
    ],
    version: "1",
    rules: [],
)