(
    version: "1",
    name: "factorio",
    author: "a5huynh",
    description: Some("Factorio wiki & subreddit. Factorio is a game in which you build and maintain factories."),
    is_enabled: true,
    domains: [],
    urls: [
        "https://wiki.factorio.com"
    ],
    rules: [
        // Factorio wiki has a very loose robots.txt, so lets pare it down a bit.
        // Only index english pages
        SkipURL("https://wiki.factorio.com/*/cs"),
        SkipURL("https://wiki.factorio.com/*/da"),
        SkipURL("https://wiki.factorio.com/*/de"),
        SkipURL("https://wiki.factorio.com/*/es"),
        SkipURL("https://wiki.factorio.com/*/fr"),
        SkipURL("https://wiki.factorio.com/*/hu"),
        SkipURL("https://wiki.factorio.com/*/it"),
        SkipURL("https://wiki.factorio.com/*/ja"),
        SkipURL("https://wiki.factorio.com/*/ko"),
        SkipURL("https://wiki.factorio.com/*/ms"),
        SkipURL("https://wiki.factorio.com/*/nl"),
        SkipURL("https://wiki.factorio.com/*/pl"),
        SkipURL("https://wiki.factorio.com/*/pt-br"),
        SkipURL("https://wiki.factorio.com/*/pt-pt"),
        SkipURL("https://wiki.factorio.com/*/ru"),
        SkipURL("https://wiki.factorio.com/*/sv"),
        SkipURL("https://wiki.factorio.com/*/tr"),
        SkipURL("https://wiki.factorio.com/*/uk"),
        SkipURL("https://wiki.factorio.com/*/vi"),
        SkipURL("https://wiki.factorio.com/*/zh"),
        // Ignore API
        SkipURL("https://wiki.factorio.com/api.php"),
        // Ignore media wiki related pages
        SkipURL("https://wiki.factorio.com/*action=*"),
        SkipURL("https://wiki.factorio.com/File:*"),
        SkipURL("https://wiki.factorio.com/Infobox:*"),
        SkipURL("https://wiki.factorio.com/Property:*"),
        SkipURL("https://wiki.factorio.com/Special:*"),
        SkipURL("https://wiki.factorio.com/Talk:*"),
        SkipURL("https://wiki.factorio.com/Template:*"),
        SkipURL("https://wiki.factorio.com/User_talk:*"),
        SkipURL("https://wiki.factorio.com/User:*"),
        SkipURL("https://wiki.factorio.com/Version_history"),
    ]
)