(
    version: "1",
    name: "smg",
    author: "pknessness",
    description: Some("Super Mario Galaxy 1 and 2 Wiki"),
    domains: [],
    urls: [
        "https://supermariogalaxy.fandom.com/wiki/",
    ],
    is_enabled: true,
    rules: [
        SkipURL("https://supermariogalaxy.fandom.com/wiki/*Special:Contributions*"),
    ]
)