(
    version: "1",
    name: "twd",
    author: "a5huynh",
    description: Some(r#"The Walking Dead (/twd) lens includes all information
    about the comic series, novels, video games, and television shows, including
    character statuses and current storyline plot-points."#),
    is_enabled: true,
    domains: [],
    urls: [
        "https://walkingdead.fandom.com/wiki"
    ],
    rules: [
        // Skip wiki related actions
        SkipURL("https://walkingdead.fandom.com/wiki/*action=*"),
        SkipURL("https://walkingdead.fandom.com/wiki/*diff=*"),
        SkipURL("https://walkingdead.fandom.com/wiki/*oldid=*"),
        // Skip meta categories & user related pages
        SkipURL("https://walkingdead.fandom.com/wiki/Category:*"),
        SkipURL("https://walkingdead.fandom.com/wiki/File:*"),
        SkipURL("https://walkingdead.fandom.com/wiki/Talk:*"),
        SkipURL("https://walkingdead.fandom.com/wiki/Template:*"),
        SkipURL("https://walkingdead.fandom.com/wiki/Thread:*"),
        SkipURL("https://walkingdead.fandom.com/wiki/*/Gallery*"),
        SkipURL("https://walkingdead.fandom.com/wiki/User:*"),
        SkipURL("https://walkingdead.fandom.com/wiki/User_blog:*")
    ]
)
