(
    version: "1",
    name: "twilight",
    author: "pknessness",
    description: Some("Legend of Zelda Twilight Princess Walkthrough"),
    domains: [],
    urls: [
        "https://www.zeldadungeon.net/twilight-princess-walkthrough/"
    ],
    is_enabled: true,
)