(
    version: "1",
    author: "Mohd-PH",
    name: "vue",
    label: "Vue",
    description: Some("A lens for Vue, a progressive JavaScript framework!"),
    categories: ["Programming", "Web Development", "Javascript"],
    domains: [],
    urls: [
        "https://vuejs.org/guide/",
        "https://vuejs.org/api/",
        "https://router.vuejs.org/guide/",
        "https://router.vuejs.org/api/",
        "https://pinia.vuejs.org/",
    ],
    rules: []
)
