(
    author: "spyglass-search",
    name: "Angular",
    description: Some("Angular API Documentation"),
    categories: ["Programming", "Web Development"],
    domains: [
        "https://update.angular.io",
        "https://angular.io/"],
    urls: [],
    version: "1",
    rules: [],
    pipeline: None,
)