(
    author: "spyglass-search",
    name: "hogwarts_legacy",
    label: "Hogwarts Legacy Wiki",
    description: Some("Hogwarts Legacy Fandom Wiki"),
    domains: [],
    urls: [
        "https://hogwarts-legacy.fandom.com/wiki",
    ],
    version: "1",
    rules: [],
)